CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.build
*.sh
.redis-beta-9
*.o
*.d
*.php
*.html
*.erl
*.lua
*.pm
*.jason
a.out
/redis-beta-9
/build
redis-test
redis-beta-6/redis-1.0-beta/redis-test
*.make
*.dir
redis-beta-6/redis-1.0-beta/a.out
